<%= form_for @animal, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :eartag, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :eartag, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reg_num, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reg_num, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sex_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sex_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_birth, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date_birth, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_acquired, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date_acquired, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :date_removed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date_removed, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :num_horns, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :num_horns, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sire_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sire_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dam_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dam_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :source_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :source_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :origin_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :origin_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :percent_black, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :percent_black, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :percent_lilac, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :percent_lilac, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :for_sale, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :for_sale, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :for_sale_status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :for_sale_status_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :quality_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :quality_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sale_price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sale_price, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :to_be_culled, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :to_be_culled, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comments, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :comments, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comments_web, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :comments_web, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :show_on_website, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :show_on_website, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :core_flock, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :core_flock, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :birth_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :birth_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rejected_at_birth, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rejected_at_birth, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                animals_path, :class => 'btn' %>
  </div>
<% end %>
