<%- model_class = Animal -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped sortable">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:eartag) %></th>
      <th><%= model_class.human_attribute_name(:sex_id) %></th>
      <th style="white-space: nowrap;"><%= model_class.human_attribute_name(:date_of_birth) %></th>
      <th><%= model_class.human_attribute_name(:status_id) %></th>
      <th><%= model_class.human_attribute_name(:num_horns) %></th>
      <th><%= model_class.human_attribute_name(:quality_id) %></th>
      <th><%= model_class.human_attribute_name(:to_be_culled) %></th>
      <th><%= model_class.human_attribute_name(:show_on_website) %></th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= link_to animal.name, animal_path(animal) %></td>
        <td><%= animal.eartag %></td>
        <td><%= animal.sex.sex %></td>
        <td style="white-space: nowrap;"><%= animal.date_birth %></td>
        <td><%= animal.status.status if animal.status%></td>
        <td><%= animal.num_horns %></td>
        <td><%= animal.quality.quality if animal.quality %></td>
        <td><%= boolean_x(animal.to_be_culled) %></td>
        <td><%= boolean_x(animal.show_on_website) %></td>
        <td><%= link_to animal.id, animal_path(animal) %></td>
        <td style="white-space: nowrap;">
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      animal %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_animal_path(animal) %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      animal_path(animal),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_animal_path,
            :class => 'btn btn-primary' %>
